### Import required library

In [1]:
import pandas as pd
import numpy as np

### Read the dataset

In [2]:
data=pd.read_csv("concrete_data.csv")

### Check the first five observation in data

In [3]:
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

### Check the last five observation in data

In [4]:
data.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

### Check the shape of data

In [5]:
data.shape

(1030, 9)

In [6]:
## Normalise data

In [7]:
### Normalise the data 
data = (data - data.mean()) / data.std()
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597,2.644123
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597,1.560663
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340,0.266498
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221,0.313188
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069,0.507732

### Check the missiing values in data

In [8]:
#### No missing values in data

In [9]:
# All varibel are numerical so see the mean,std,min,max for each varible.
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03,1.030000e+03
mean,2.432224e-15,-8.513686e-16,3.837815e-16,1.846743e-15,-9.641155e-16,6.818710e-15,1.232571e-14,3.640022e-16,2.046125e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.714421e+00,-8.564718e-01,-8.467326e-01,-2.798851e+00,-1.038638e+00,-2.211064e+00,-2.239829e+00,-7.070160e-01,-2.004578e+00
25%,-8.496407e-01,-8.564718e-01,-8.467326e-01,-7.805147e-01,-1.038638e+00,-5.262618e-01,-5.317114e-01,-6.120340e-01,-7.247784e-01
50%,-7.911350e-02,-6.014861e-01,-8.467326e-01,1.607513e-01,3.269920e-02,-6.326279e-02,7.383152e-02,-2.795973e-01,-8.218499e-02
75%,6.586406e-01,8.003558e-01,1.001791e+00,4.885554e-01,6.688058e-01,7.264077e-01,6.288606e-01,1.636517e-01,6.175744e-01
max,2.476712e+00,3.309068e+00,2.279976e+00,3.064159e+00,4.351528e+00,2.213149e+00,2.731735e+00,5.055221e+00,2.800357e+00

In [10]:
data.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#####  The data looks very clean and is ready to be used to build our model.

### Seperate the target varible and predictore varibals

In [11]:
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [12]:
# Following are the predictors varible. 
X =data[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer','Coarse Aggregate', 'Fine Aggregate', 'Age']]
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [13]:
X.shape

(1030, 8)

In [14]:
# Here our target varible is Strength
y=data["Strength"]
y.head()

0    2.644123
1    1.560663
2    0.266498
3    0.313188
4    0.507732
Name: Strength, dtype: float64

In [15]:
y.shape

(1030,)

In [16]:
n_cols = X.shape[1] # number of predictors
n_cols

8

### Split the data into train and test (7:3)

In [17]:
# Train data set contain 70 % of data and test data contain 30% of data.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Model Building Using keras library

In [18]:
import keras
from keras.models import Sequential
from keras.layers import Dense

### Create model using sequential

In [19]:
model = Sequential()

# add dense layer with 10 neuros also adding the relu activation function 
model.add(Dense(10,activation="relu",input_shape=(n_cols,)))

# here we add another dense layer with 10 neurons and relu acivation function.
model.add(Dense(10, activation='relu'))

# here we add another dense layer with 10 neurons and relu acivation function.
model.add(Dense(10, activation='relu'))
# Add last outputn layer uisng dense layer in keras
model.add(Dense(1))

# Compile model using adam optimizer
model.compile(optimizer="adam",loss='mean_squared_error')

In [20]:
### Fit model on training dataset 
# Here i am use 100 epochs 
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 1.1075
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 1.0156
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 0.9605
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 0.9041
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 0.8260
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 0.7169
Epoch 7/50
23/23 [==============================] - ETA: 0s - loss: 0.781 - 0s 2ms/step - loss: 0.5969
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4999
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 0.4422
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 0.4089
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3855
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3712
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 0.3604
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3510
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3426
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3380
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3301
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3245
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3213
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3151
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3101
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3050
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 0.3009
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2979
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2910
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2879
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2819
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2769
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2726
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2677
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2637
Epoch 32/50
23/23 [==============================] - ETA: 0s - loss: 0.145 - 0s 2ms/step - loss: 0.2594
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2553
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2501
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2463
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 0.2425
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2385
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2342
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2306
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2266
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2215
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2171
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2120
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 0.2068
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 0.2028
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1988
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1936
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1889
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1839
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 0.1805

In [21]:
## You can see the loss is decreses as the number of epochs incrrses.

In [22]:
loss_val = model.evaluate(X_test, y_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 0.2127

0.21268542110919952

In [23]:
# Evalute model on test dataset
y_pred = model.predict(X_test)

In [24]:
from sklearn.metrics import mean_squared_error

In [25]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

0.21268541935398275 0.0

#### Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [26]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 0.13458047807216644
MSE 2: 0.13425970077514648
MSE 3: 0.10908365994691849
MSE 4: 0.0965781882405281
MSE 5: 0.08698751032352448
MSE 6: 0.0967700406908989
MSE 7: 0.10416393727064133
MSE 8: 0.08581539243459702
MSE 9: 0.10073255002498627
MSE 10: 0.08747365325689316
MSE 11: 0.08738037198781967
MSE 12: 0.06846718490123749
MSE 13: 0.081368088722229
MSE 14: 0.09564803540706635
MSE 15: 0.078093022108078
MSE 16: 0.06426938623189926
MSE 17: 0.08787042647600174
MSE 18: 0.07959511131048203
MSE 19: 0.07529305666685104
MSE 20: 0.08407539874315262
MSE 21: 0.07636240869760513
MSE 22: 0.06748902052640915
MSE 23: 0.07443000376224518
MSE 24: 0.06722989678382874
MSE 25: 0.07857704162597656
MSE 26: 0.0754190981388092
MSE 27: 0.07972829788923264
MSE 28: 0.060207050293684006
MSE 29: 0.08295322209596634
MSE 30: 0.06627768278121948
MSE 31: 0.05478888750076294
MSE 32: 0.05554768815636635
MSE 33: 0.06737562268972397
MSE 34: 0.06550238281488419
MSE 35: 0.07483122497797012
MSE 36: 0.07370001822710037
MSE 37: 0.06341090053319931
MSE 38: 0.07397406548261642
MSE 39: 0.07342986762523651
MSE 40: 0.061597224324941635
MSE 41: 0.08678169548511505
MSE 42: 0.06910912692546844
MSE 43: 0.0668196827173233
MSE 44: 0.06994674354791641
MSE 45: 0.07147571444511414
MSE 46: 0.06952375173568726
MSE 47: 0.06888154149055481
MSE 48: 0.056072741746902466
MSE 49: 0.06441166251897812
MSE 50: 0.0646071806550026


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 0.07837933428565771
Standard Deviation: 0.016892937548401318

In [27]:
### after incrsing the layer in NN MSE is low (0.078)as compred to the other MSE.